.ui-dialog.buttons-right .ui-dialog-buttonset {
	float: right;
}
.ui-dialog.no-close .ui-dialog-titlebar-close {
	display: none;
}
.ui-button.ui-state-focus.btn-continue, .ui-button.ui-state-focus.btn-ok {
	box-shadow: 0 0 2px 1px rgba(4,168,8, 0.5);
	border-color: #04a808;
}
.ui-button.btn-continue, .ui-button.btn-ok {
	background: #58c76a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40d358), color-stop(100%,#66b869));
	background: linear-gradient(top, #40d358 0%, #66b869 100%)
}
